@{
    ViewBag.Title = "O firmie";
}

<div class="row-fluid">
    <div class="span6">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="widget-content nopadding">
                <div class="article-container">
                    <div class="article-image">
                        <img src="/img/about.jpg" />
                    </div>
                    <div class="article-content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec sapien eros. Suspendisse volutpat dolor vel felis commodo, aliquet ultricies ante egestas. Morbi vitae blandit neque, a tincidunt est. Mauris facilisis sem eget venenatis placerat. Mauris et elementum augue. Phasellus placerat rutrum ullamcorper. Cras luctus rhoncus odio at hendrerit. In consequat orci malesuada ultrices hendrerit. Nullam at odio mollis sem auctor semper ut ut massa.

                            Aliquam eu tempor dui. Quisque pretium tempus odio, et aliquet nunc suscipit vel. Donec congue, lectus volutpat finibus dapibus, diam risus congue eros, non lacinia nulla urna id lectus. Nunc pellentesque leo ipsum, non molestie lorem sollicitudin quis. Nullam mattis bibendum justo nec aliquet. Quisque sit amet risus eleifend, sollicitudin nibh tincidunt, varius justo. Phasellus dictum metus eget felis consequat imperdiet. Curabitur quis ultricies nisi. Integer ultricies mi id sapien ultricies venenatis. Mauris urna felis, consequat dignissim lorem sit amet, aliquet sodales felis. Vestibulum lacinia cursus justo iaculis euismod. Pellentesque arcu velit, ornare ut est sed, rutrum hendrerit ex.

                            Vivamus eget mauris non nulla ullamcorper egestas porttitor ac mauris. In eget nibh sit amet lacus volutpat laoreet. Nullam vitae tempor dolor, pulvinar tempus ipsum. In dapibus, est eu ultrices dignissim, orci orci pretium mi, id ornare tortor diam et leo. Quisque vitae mauris ipsum. Donec mattis nisl diam, vitae ultrices mi consectetur vitae. Donec euismod mauris nec nisi maximus volutpat. Mauris vehicula orci eros, laoreet viverra sem egestas pretium. Quisque et dui ullamcorper, interdum dolor nec, aliquet felis. In tincidunt ipsum nec purus ultrices, at dictum tellus molestie. Phasellus tempus elit vitae lacus pretium posuere. Mauris libero purus, mattis mollis eleifend id, elementum sit amet massa. Praesent pellentesque felis orci, sed consectetur sem accumsan ut. Mauris lobortis vulputate massa ut luctus.

                            Suspendisse eu tincidunt lacus. In in erat pharetra, aliquet sem eu, sodales eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer vitae libero lacinia, consequat urna eu, semper magna. Aenean convallis purus a ante posuere, sed ultrices lacus molestie. Integer feugiat leo vel nibh posuere mollis. Proin non ultricies arcu. Phasellus nibh libero, suscipit quis est id, accumsan lacinia nunc. Suspendisse blandit tempus purus vitae fringilla. Duis varius ut augue non lobortis. Sed ornare, turpis et imperdiet interdum, magna lacus ornare odio, sed iaculis massa massa eget eros. Sed commodo sapien sapien, vitae tempor augue mollis sit amet. Donec sed enim augue. Vivamus placerat facilisis nibh, id porta est rhoncus vitae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>